
body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 220px;
}

#head {
    max-width: 100%;
    height: auto;
    max-height: 500px;
 }
 
#banner {
    display:block;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

nav {
    background: #333;
}  

 
nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
 }
 
nav a {
    font-family: 'Permanent Marker', cursive;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FEE8DD;
    display: block;
    padding: 10px;
 }
 
nav a:hover {
    background: #555;
 }
 
 @media screen and (min-width: 820px) {
     
    nav ul {
        display: flex;
    }
     
    nav li {
        flex: 1 1 0;
    }
}
 
article {
    width:100%;
    max-width:1000px;
    background-color:#62533C;;
}

h1 {
    color:#fff;
    margin-top: 0;
    padding-top: 20px;
    text-align:center;
}

#contacts {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-flow: row wrap;
}

#text {
    align-self: flex-start;
    margin-bottom: 5%;
}


#text p {
    color: #fff;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
}

#text p:first-child {
    margin-top: 10%;
}

.indent {
    margin-top: 10%;
    padding-left: 5%;
}

#text h2 {
    color: #fff;
    font-family: 'Alfa Slab One', cursive;
}

.button {
    margin-left: 5%;
}

#image {
    max-width: 100%;
    height: auto;
}
#form_text {
    color: #fff;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
    text-align: center;
    margin-bottom: 2%;
}
.form {
    max-width: 800px;
    min-width: 220px;
    margin: 0 auto;
}
.form div {
    padding: 10px;
}

.form div input {
    width: 100%;
    height: 25px;
    display: block;
    text-indent: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.form div textarea {
    width: 100%;
    height: 125px;
    display: block;
    text-indent: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.form div input[type="submit"] {
    width: 110px;
    border-radius: 5px;
    text-indent: 0;
}

