body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 220px;
}

#head {
    max-width: 100%;
    height: auto;
    max-height: 500px;
 }
 
#banner {
    display:block;
    max-width: 100%;
    height: auto;
    max-height: 500px;
}

nav {
    background: #333;
 }  

 
nav ul {
    list-style-type: none;
    padding: 0;
    margin:0;
}
 
nav a {
    font-family: 'Permanent Marker', cursive;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FEE8DD;
    display: block;
    padding: 10px;
}
 
nav a:hover {
    background: #555;
 }
 
 @media screen and (min-width: 820px) {
     
    nav ul {
        display: flex;
    }
     
    nav li {
        flex: 1 1 0;
    }
 }
 
article {
    width:100%;
    max-width:1000px;
    background-color:#62533C;;
 }

h1 {
    color:#fff;
    margin-top: 0;
    padding-top: 20px;
    text-align:center;
}

#ibora {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-flow: row wrap;
}

#text p {
    color: #fff;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;
}
#text p:first-child {
    margin-top: 5%;
}
.indent {
    margin-top: 12%;
    padding-left: 5%;
}

#image {
    max-width: 100%;
    height: auto;
}

.parents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-flow: row wrap;
}

.child1 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 18px;
}

.child2 {
    max-width: 100%;
    height: auto;
}

h2 {
    color:#fff;
    text-align:center;
}

.dis {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    flex-flow: row wrap;
    margin-bottom: 0;
}
.dis1 {
    color:#fff;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}
.disbot {
    margin-bottom: 20px;   
}

.dis2 {
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
}
.fa-chevron-circle-up {
    color: black;
    text-align: center;
    text-decoration: none;
    margin-left: 50%;
}

.fa-chevron-circle-up:hover {
    color: #333;
    transform: scale(1.5);
}