body {
    background-image: url(../images/bg.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    min-width: 220px;
}

#head {
    max-width: 100%;
    height: auto;
    max-height: 500px;

 }
 
#banner {
    display:block;
    max-width: 100%;
    height: auto;
    max-height: 500px;

}

nav {
     background: #333;
 }  

 
nav ul {
     list-style-type: none;
     padding: 0;
     margin:0;
 }
 
nav a {
    font-family: 'Permanent Marker', cursive;
    font-size:18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FEE8DD;
    display: block;
    padding: 10px;
 }
 
nav a:hover {
     background: #555;
 }
 
 @media screen and (min-width: 820px) {
     
    nav ul {
         display: flex;
     }
     
    nav li {
         flex: 1 1 0;
     }
 }
 
article {
     width:100%;
     max-width:1000px;
     background-color:#62533C;;
 }

h1 {
    color:#fff;
    margin-top: 0;
    padding-top: 20px;
    text-align:center;
}

#ibora {
    max-width: 1000px;
    margin: 30px auto;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    flex-flow: row wrap;
}

#text p {
    margin-top: 10%;
    color: #fff;
    font-size: 20px;
    font-family: 'Alfa Slab One', cursive;

}


#image {
    display: block;
    max-width: 100%;
    height: auto;
    
}

@media screen and (max-width: 450px) and (min-width: 397px) {
    
    #image {
        transform: scale(1, 0.9);
        min-width: 250px;
    }
}

@media screen and (max-width: 396px) and (min-width: 350px) {
    
    #image {
        transform: scale(1, 0.75);
        min-width: 250px;
    }
}

@media screen and (max-width: 349px) and (min-width: 320px) {
    
    #image {
        transform: scale(1, 0.7);
        min-width: 250px;
    }
}

@media screen and (max-width: 319px) and (min-width: 300px) {
    
    #image {
        transform: scale(1, 0.65);
        min-width: 250px;
    }
}

@media screen and (max-width: 299px) {
    
    #image {
        transform: scale(1, 0.6);
    }
}

